.danmu {
    text-align: center;
    width: 5rem;
    height: .83rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    position: relative;
    top: 7.9rem;
    left: 50%;
    margin-left: -2.5rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 10;
}

.tongzhi {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: .83rem;
    overflow: hidden;
}

.tongzhi li {
    width: 96%;
    font-size: .17rem;
    color: #fff;
    transition: all 0.5s;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .05rem;
    margin-bottom: 2px;
    display: none;
    position: absolute;
    padding: 0.06rem .1rem;
    white-space: nowrap;
}

.tongzhi ul {
    padding-top: .2rem;
    position: absolute;
    width: 100%;
}

.tongzhi ul.aaa {
    transition: all .6s;
}

.tongzhi li img {
    width: .31rem;
    vertical-align: middle;
    margin-top: -.06rem;
    margin-right: .04rem;
}

.tongzhi li.active {
/ / opacity: 0;
}

.tongzhi ul.gun {
    margin-top: -.4rem;
}

.zheceng {
    opacity: .3;
    position: absolute;
    top: 0;
    width: 100%;
    height: .4rem;
}

.tongzhi li.crr {
    display: block;
    animation: tongzhi 3s linear;
    -moz-animation: tongzhi 3s linear;
    -webkit-animation: tongzhi 3s linear;
    -o-animation: tongzhi 3s linear;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.crr1 {
    opacity: 0;
}

/*通知滚动特效*/
@-moz-keyframes tongzhi {
    0% {
        opacity: 0.4;
        bottom: -1rem;
    }
    50% {
        opacity: 1;
        bottom: -.4rem;
    }
    75% {
        opacity: 0;
        bottom: -.2rem;
    }
    100% {
        opacity: 0;
        bottom: .4rem;
    }
}

@-webkit-keyframes tongzhi {
    0% {
        opacity: 0.4;
        bottom: -1rem;
    }
    50% {
        opacity: 1;
        bottom: -.4rem;
    }
    75% {
        opacity: 0;
        bottom: -.2rem;
    }
    100% {
        opacity: 0;
        bottom: .4rem;
    }
}

@-o-keyframes tongzhi {
    0% {
        opacity: 0.4;
        bottom: -1rem;
    }
    50% {
        opacity: 1;
        bottom: -.4rem;
    }
    75% {
        opacity: 0;
        bottom: -.2rem;
    }
    100% {
        opacity: 0;
        bottom: .4rem;
    }
}

@keyframes tongzhi {
    0% {
        opacity: 0.4;
        bottom: -1rem;
    }
    50% {
        opacity: 1;
        bottom: -.4rem;
    }
    75% {
        opacity: 0;
        bottom: -.2rem;
    }
    100% {
        opacity: 0;
        bottom: .4rem;
    }
}

.xianjaitanbox {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
}

/*新加下落动画*/
.leafContainer {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: -0.20rem;
    overflow: hidden;
}

.leafContainer > div {
    position: absolute;
    max-width: 0.15rem;
    max-height: 0.20rem;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-direction: normal, normal;
    -webkit-animation-timing-function: linear, ease-in;
}

.leafContainer > div > img {
    width: 100%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform-origin: 50% -100%;
}

.xinjiabox {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: .5rem;
    /*z-index: 99;*/
}

.xinjiaimg {
    width: 3.4rem;
    height: 3.4rem;
    margin: 0.8rem auto 0;
}

.xinjiaimg img {
    width: 100%;
    height: 100%;
}

.xinjiafenxing {
    width: 93%;
    z-index: 99;
    position: absolute;
    bottom: -1.3rem;
    display: flex;
    justify-content: space-around;
}

.xinjiafenxing span {
    width: 2.05rem;
    height: 0.52rem;
}

.xinjiafenxing span img {
    width: 2.4rem;
    height: 0.68rem;
}

.guang {
    width: 7.05rem;
    position: absolute;
    left: 50%;
    z-index: -1;
    margin-left: -3.525rem;
    top: 0.2rem;
}

/*新加下落动画*/
.leafContainer {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: -0.20rem;
    overflow: hidden;
}

.leafContainer > div {
    position: absolute;
    max-width: 0.15rem;
    max-height: 0.20rem;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-direction: normal, normal;
    -webkit-animation-timing-function: linear, ease-in;
}

.leafContainer > div > img {
    width: 100%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform-origin: 50% -100%;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes drop {
    0% {
        -webkit-transform: translate(0px, -50px);
    }
    100% {
        -webkit-transform: translate(0px, 1000px);
    }
}

@-webkit-keyframes clockwiseSpin {
    0% {
        -webkit-transform: rotate(-50deg);
    }
    100% {
        -webkit-transform: rotate(50deg);
    }
}

@-webkit-keyframes counterclockwiseSpinAndFlip {
    0% {
        -webkit-transform: scale(-1, 1) rotate(50deg);
    }
    100% {
        -webkit-transform: scale(-1, 1) rotate(-50deg);
    }
}